<h1>Lists#index</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= list.name %> (<%= link_to "edit", edit_list_path(list) %>)
      (<%= link_to "delete", list_path(list),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>)

      <ul>
        <% list.cards.each do |card| %>
          <li><%= link_to card.name, card_path(card) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "New List", new_list_path %>

