<h1>New Card</h1>

<%= form_with model: @card do |form| %>
  <%= form.collection_select :list_id, List.order(:name), :id, :name %>


  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>